#title{
	margin-bottom: 0px;
}
#subtitle{
	margin-top: 0px;
	margin-bottom: 0px;
}
#text-content{
	padding: 0px;
}
#first-card{
	margin-top: 0px;
	padding: 20px;
}
#card-text{
	margin-top: 0px;
}
#second-card{
	margin-top: 0px;
	padding: 20px;
	width: 50%;
}
#third-card{
	margin-top: 0px;
	padding: 20px;
	width: 50%;
}
#photo{
	width: 100%;
}
#photocard{
	position: relative;
	left: 5%;
}
#camera{
	margin-left: 55%;
}

.container-modal-wrap{
    display: flex;
    justify-content: center;
}
.modal-left{
    margin-right: 30px;
}